<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title font-family="impact" ><strong>LumberJack</strong></ion-title>
  </ion-toolbar>
  
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pellet/Leña</ion-title>
  </ion-toolbar>

  
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="all">
        Productos
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favoritos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar >
      <ion-title size="large" ></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card id="navinicio">
    <img src="../assets/pellet.jpg">
    <ion-card-header>
      <ion-card-subtitle>Bolsa de 15kg.</ion-card-subtitle>
      <ion-card-title>Pellet ecomas<ion-button fill="outline" size="small"><ion-icon name="star"></ion-icon></ion-button></ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      Mantenga su casa calefaccionada con 
      sacos de pellet para combustion lenta.
      <br><br> ► Producto en stock
    </ion-card-content>
    <ion-button expand="round" fill="outline" size="small"><ion-icon name="location-outline"></ion-icon>Ver ubicacion</ion-button>
    <ion-button [routerLink]="['/pellet']"  expand="round" fill="outline" size="small">Ver mas<ion-icon name="add-circle"></ion-icon></ion-button>
  </ion-card>
  <ion-card id="navinicio">
    <img src="../assets/lena1.jpg">
    <ion-card-header>
      <ion-card-subtitle>Leña por vara.</ion-card-subtitle>
      <ion-card-title>Leña seca<ion-card-title><ion-button fill="outline" size="small"><ion-icon name="star"></ion-icon></ion-button></ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    Calefacciona tu hogar con leña, directamente a tu hogar a contar de 5 varas en adelante, consulta
    si llegamos a tu domicilio.
    <br><br> ► Producto en stock
    </ion-card-content>
    <ion-button expand="round" fill="outline" size="small"><ion-icon name="location-outline"></ion-icon>Ver ubicacion</ion-button>
    <ion-button expand="round" fill="outline" size="small">Ver mas<ion-icon name="add-circle"></ion-icon></ion-button>
  </ion-card>
  <ion-card id="navinicio">
    <img src="../assets/PELLET-RIO-CLARO.webp">
    <ion-card-header>
      <ion-card-subtitle>Bolsa de 15kg.</ion-card-subtitle>
      <ion-card-title>Pellet Rio Claro<ion-card-title><ion-button fill="outline" size="small"><ion-icon name="star"></ion-icon></ion-button></ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Mantenga su casa calefaccionada con 
      sacos de pellet para combustion lenta.
      <br><br> ► Producto en stock
    </ion-card-content>
    <ion-button expand="round" fill="outline" size="small"><ion-icon name="location-outline"></ion-icon>Ver ubicacion</ion-button>
    <ion-button expand="round" fill="outline" size="small">Ver mas<ion-icon name="add-circle"></ion-icon></ion-button>
  </ion-card>
  <ion-card id="navinicio">
    <img src="../assets/lena2.jpg">
    <ion-card-header>
      <ion-card-subtitle>Leña por vara</ion-card-subtitle>
      <ion-card-title>Leña Mari con lalo<ion-card-title><ion-button fill="outline" size="small"><ion-icon name="star"></ion-icon></ion-button></ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Calefacciona tu hogar con leña, directamente a tu hogar a contar de 5 varas en adelante, consulta
      si llegamos a tu domicilio.
      <br><br> ► Producto en stock
    </ion-card-content>
    <ion-button expand="round" fill="outline" size="small"><ion-icon name="location-outline"></ion-icon>Ver ubicacion</ion-button>
    <ion-button expand="round" fill="outline" size="small">Ver mas<ion-icon name="add-circle"></ion-icon></ion-button>
  </ion-card>
  <ion-card id="navinicio">
    <img src="../assets/pelletbosca.webp">
    <ion-card-header>
      <ion-card-subtitle>Bolsa de 15kg.</ion-card-subtitle>
      <ion-card-title>Pellet Bosca<ion-card-title><ion-button fill="outline" size="small"><ion-icon name="star"></ion-icon></ion-button></ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Mantenga su casa calefaccionada con 
      sacos de pellet para combustion lenta.
      <br><br> ► Producto en stock
    </ion-card-content>
    <ion-button expand="round" fill="outline" size="small"><ion-icon name="location-outline"></ion-icon>Ver ubicacion</ion-button>
    <ion-button expand="round" fill="outline" size="small">Ver mas<ion-icon name="add-circle"></ion-icon></ion-button>
  </ion-card>

  <ion-card id="navinicio">
    <img src="../assets/lena3.jpg">
    <ion-card-header>
      <ion-card-subtitle>Leña por vara</ion-card-subtitle>
      <ion-card-title>Leña donde tito<ion-card-title><ion-button fill="outline" size="small"><ion-icon name="star"></ion-icon></ion-button></ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Calefacciona tu hogar con leña, directamente a tu hogar a contar de 5 varas en adelante, consulta
      si llegamos a tu domicilio.
      <br><br> ► Producto en stock
    </ion-card-content>
    <ion-button expand="round" fill="outline" size="small"><ion-icon name="location-outline"></ion-icon>Ver ubicacion</ion-button>
    <ion-button expand="round" fill="outline" size="small">Ver mas<ion-icon name="add-circle"></ion-icon></ion-button>
  </ion-card>

  
</ion-content>
