h2{
    
    text-align: center;
}

ion-title{
    text-align: center;
}
#navinicio{
    background-color: rgb(136, 70, 59);
}

.md, .ios{
    --ion-toolbar-background:orange;
    --ion-item-border-color:orange;
}
