<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title font-family="impact" ><strong>LumberJack</strong></ion-title>
  </ion-toolbar>
  
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pellet/Leña</ion-title>
  </ion-toolbar>

  
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="all">
        Productos
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favoritos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar >
      <ion-title size="large" ></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card id="navinicio">
    <img src="../assets/pellet.jpg">
    <ion-card-header>
      <ion-card-subtitle>Bolsa de 15kg.</ion-card-subtitle>
      <ion-card-title>Pellet ecomas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <button ion-button icon-left class="botones"><ion-icon name="star"></ion-icon>Favoritos</button>
  </ion-card>
  <ion-card id="navinicio">
    <img src="../assets/lena1.jpg">
    <ion-card-header>
      <ion-card-subtitle>Leña por vara.</ion-card-subtitle>
      <ion-card-title>Leña seca</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Se vende leña por vara, esta completamente seca,
      se usa la vara reglamentaria.
    </ion-card-content>
    <button ion-button icon-left class="botones"><ion-icon name="star"></ion-icon>Favoritos</button>
  </ion-card>
  <ion-card id="navinicio">
    <img src="../assets/PELLET-RIO-CLARO.webp">
    <ion-card-header>
      <ion-card-subtitle>Bolsa de 15kg.</ion-card-subtitle>
      <ion-card-title>Pellet Rio Claro</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <button ion-button icon-left class="botones"><ion-icon name="star"></ion-icon>Favoritos</button>
  </ion-card>
  <ion-card id="navinicio">
    <img src="../assets/lena2.jpg">
    <ion-card-header>
      <ion-card-subtitle>Bolsa de 15kg.</ion-card-subtitle>
      <ion-card-title>Pellet ecomas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <button ion-button icon-left class="botones"><ion-icon name="star"></ion-icon>Favoritos</button>
  </ion-card>
  <ion-card id="navinicio">
    <img src="../assets/pelletbosca.webp">
    <ion-card-header>
      <ion-card-subtitle>Bolsa de 15kg.</ion-card-subtitle>
      <ion-card-title>Pellet ecomas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <button ion-button icon-left class="botones"><ion-icon name="star"></ion-icon>Favoritos</button>
  </ion-card>

  <ion-card id="navinicio">
    <img src="../assets/lena3.jpg">
    <ion-card-header>
      <ion-card-subtitle>Bolsa de 15kg.</ion-card-subtitle>
      <ion-card-title>Pellet ecomas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <button ion-button icon-left class="botones"><ion-icon name="star"></ion-icon>Favoritos</button>
  </ion-card>

  
</ion-content>
