h2{
    
    text-align: center;
}

#tool{
    background-color: rgba(255, 123, 0, 0.925);
}
ion-title{
    text-align: center;
}
#navinicio{
    background-color: rgba(235, 144, 8, 0.767);
}
.botones{
    padding: 5%;
}