h2{
    
    text-align: center;
}

#tool{
    background-color: rgba(255, 123, 0, 0.925);
}
ion-title{
    text-align: center;
}
#navinicio{
    background-color: rgb(136, 70, 59);
}
.botones{
    padding: 5%;
}

.md, .ios{
    --ion-toolbar-background:rgb(228,120,20);
    --ion-item-border-color:orange;
}
