<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title font-family="impact" ><strong></strong></ion-title>
  </ion-toolbar>
  
  <ion-toolbar>
    
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>

  
  <ion-toolbar>
    
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  
  <ion-header collapse="condense">
    <ion-toolbar >
      <ion-title size="large" ></ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-card id="inicio">
    <img src="../assets/icono_lumberjack.jpeg">
    <ion-card-header>
      <ion-card-subtitle>Desde 2022</ion-card-subtitle>
      <ion-card-title>Llevando calor al hogar</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      El invierno aún no termina y el frío pareciera no querer irse, 
      por lo que estamos constantemente manteniendo el calor en el hogar a través de nuestro servicio.
    </ion-card-content>
    
  </ion-card>
  <ion-card id="pellet">
    <img src="../assets/pellet2.jpg">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title> Calefacción a Pellet</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
El pellet es una de las mejores opciones para calefacción dentro de Santiago y para aquellos usuarios que buscan más comodidad. 

Ya conocemos que la leña tiene limitaciones de restricciones en varias comunas de la Región Metropolitana y también hay restricciones a 
los humos visibles en otras ciudades por lo que el usuario debe ser responsable y utilizar 
bien su estufa sin ahogarla para no emitir humos visibles. 
    </ion-card-content>
    <button ion-button icon-left class="botones"><ion-icon name="heart-outline"></ion-icon>Me gusta</button>
    
  </ion-card>

  <ion-card id="leña">
    <img src="../assets/leña2.jpg">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Calefacción a leña</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      La leña sigue siendo una opción muy recomendable y, al igual que el pellet, no emite residuos de la combustión al interior 
      de los hogares, por lo que disminuye los riesgos de problemas a la salud por contaminación intradomiciliaria.
    </ion-card-content>
    <button ion-button icon-left class="botones"><ion-icon name="heart-outline"></ion-icon>Me gusta</button>
    
  </ion-card>
  
  

  

  
</ion-content>